body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  /* background-image: url(http://i.imgur.com/7zE86SE.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}
.banner {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  height: 300px;
  border-radius: 0%;
  background-color: rgba(50,50,150,.5);
  padding: 10px;
}
#dir_links {
  animation-name: color_change_animation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  font-size: 30px;
}
#resume {
    margin-top: 200px; 
    width: 200px;
  }
a {
  text-decoration: none;
}

#link1, #link2, #link3, #link4, .color {
  -webkit-animation: color_change_animation 5s infinite; /* Chrome, Safari, Opera */
  animation: color_change_animation 5s infinite;
}

.dir_effect {
  background-color: rgba(50,50,150,.5);
}
.banner_title {
  -webkit-animation: color_change_animation 5s infinite; /* Chrome, Safari, Opera */
  animation: color_change_animation 5s infinite;
  padding: 10px;
  margin-top: 0px;
  font-size: 50px;
  font-family: 'Cabin Sketch', cursive;
  background-color: rgba(50,50,150,.5);
}

.img_banner {
  margin-top: 200px;
  height: 300px;
}
#directory {
  z-index: 1;
  margin-top: -1px;
  width: 100%;
  height: 150px;
  padding: 20px;
  position: fixed;
  font-family: 'Cabin Sketch', cursive;
}
@-webkit-keyframes color_change_animation {
  0%   {color: #FFFFFF; top:0px;}
  25%  {color: #FBB2B2; top:0px;}
  50%  {color:#F96363; top:200px;}
  75%  {color: #FF0000; top:200px;}
  90% {color: #FF8B8B; top:0px;}
  100% {color: #FEC5C5;}
}
@keyframes color_change_animation_animation {
  0%   {color: #FFFFFF; top:0px;}
  25%  {color: #FBB2B2; top:0px;}
  50%  {color: #F96363; top:200px;}
  75%  {color: #FF0000; top:200px;}
  90% {color: #FF8B8B; top:0px;}
  100% {color: #FEC5C5;}
}
@-webkit-keyframes zoom {
  from {width: 200px;}
  to {width: 650px;}
}
@keyframes zoom {
  from {width: 200px;}
  to {width: 650px;}
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width : 320px) {
  #profile {
    border-radius: 50%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    float: left;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    margin-top: 300px;
  }
  body {
    background-color: rgb(100,100,150);
  }
  #arrow {
    height: 50%;
    width: 50%;
    margin-right: -20%;
    margin-top: 250px;
  }
}
/* iPads (portrait and landscape) */
@media only screen and (min-width : 768px){
  #profile {
    border-radius: 50%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    float: left;
    margin-top: 200px;
    margin-left: 25%;
    width: 200px;
    z-index: -1;
    height: 200px;
  }
  body {
    background-color: rgb(80,150,80);
  }
  #arrow {
    height: 200px;
    width: 200px;
    margin-top: 150px;
    margin-top: 180px;
  }
}
/* Computer Screens (Chromebook and wider) */
@media only screen and (min-width : 1025px) {
  body {
    background-color: rgb(50,50,50);
  }
  #profile {
    border-radius: 50%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    float: left;
    margin-left: 30%;
    width: 250px;
    height: 250px;
    margin-top: 250px;
  }
  #arrow {
    height: 250px;
    width: 250px;
    margin-right: -45px;
  }
}
